{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    />
    <title>hurricane-map 3D</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/cesium/1.111.0/Cesium.js" integrity="sha512-VjMfxVEXtb4RIAA9CZZaAmxzWGHBU/CAAiSn/mJ47qClQzhtWo//gnPV0otnVL9TflseucJNvU5v6aryqByAsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link href="https://cesium.com/downloads/cesiumjs/releases/1.111/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
  
  <!-- Custom CSS -->
  <!--link rel="stylesheet" href="{% static 'index.css' %}">-->
  <link rel="stylesheet" href="static/index.css">
  
  </head>
  </style>
  <body>
  <div id="cesiumContainer" style="width: 100vw; height: 100vh"></div>
  </body>
  <!-- Custom JavaScript -->
  <!--<script src="{% static 'index.js' %}"></script>-->
  <script src="static/index.js"></script>
</html>
